In [18]:
#importing important libraries
import pandas as pd
import numpy as np

In [2]:
# Our first data which comprises of Books , Price and their stock availability 

data1 = pd.read_csv("Book_Data_From_Multiple_Pages.csv")

# Our second data which comprises of Category , Quntity , No of reviews and many moer things

data_2 = pd.read_csv("Data_2.csv")

In [3]:
#Checking data1
data1.head()

,Title,Rating,Price,Stock,Book_link,Img_link
0,A Light in the Attic,Three,51.77,In stock,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,Tipping the Velvet,One,53.74,In stock,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,Soumission,One,50.10,In stock,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,Sharp Objects,Four,47.82,In stock,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,Sapiens: A Brief History of Humankind,Five,54.23,In stock,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...

In [4]:
#Checking data2
data_2.head()

,Unnamed: 0,Category,Price_E_Price,Price_I_Price,Tax,QN,UPC,Reviews
0,0,Poetry,51.77,51.77,0.0,In stock (22 available),a897fe39b1053632,0
1,1,Historical Fiction,53.74,53.74,0.0,In stock (20 available),90fa61229261140a,0
2,2,Fiction,50.10,50.10,0.0,In stock (20 available),6957f44c3847a760,0
3,3,Mystery,47.82,47.82,0.0,In stock (20 available),e00eb4fd7b871a48,0
4,4,History,54.23,54.23,0.0,In stock (20 available),4165285e1663650f,0

## Forming a new DataFrame which would contain combined data of both the tables

In [5]:
df = pd.DataFrame()

In [15]:
df["Title"]           = data1["Title"]
df["Category"]        = data_2["Category"]
df["Exclusive_Price"] = data_2["Price_E_Price"]
df["Inclusive_Price"] = data_2["Price_I_Price"]
df["Rating"]          = data1["Rating"]
df["Stock"]           = data1["Stock"]
for i in data_2["QN"].values:
    df["Quantity available"] = i[10:12]
df["Reviews"]         = data_2["Reviews"]
df["Book_link"]       = data1["Book_link"]
df["Img_Link"]        = data1["Img_link"]

In [17]:
df

,Quantity available,Title,Category,Exclusive_Price,Inclusive_Price,Rating,Stock,Reviews,Book_link,Img_Link
0,1,A Light in the Attic,Poetry,51.77,51.77,Three,In stock,0,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/media/cache/2c/da/2...
1,1,Tipping the Velvet,Historical Fiction,53.74,53.74,One,In stock,0,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/media/cache/26/0c/2...
2,1,Soumission,Fiction,50.10,50.10,One,In stock,0,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/media/cache/3e/ef/3...
3,1,Sharp Objects,Mystery,47.82,47.82,Four,In stock,0,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/media/cache/32/51/3...
4,1,Sapiens: A Brief History of Humankind,History,54.23,54.23,Five,In stock,0,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/media/cache/be/a5/b...
...,...,...,...,...,...,...,...,...,...,...
995,1,Alice in Wonderland (Alice's Adventures in Won...,Classics,55.53,55.53,One,In stock,0,https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/media/cache/96/ee/9...
996,1,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Sequential Art,57.06,57.06,Four,In stock,0,https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/media/cache/09/7c/0...
997,1,A Spy's Devotion (The Regency Spies of London #1),Historical Fiction,16.97,16.97,Five,In stock,0,https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/media/cache/1b/5f/1...
998,1,1st to Die (Women's Murder Club #1),Mystery,53.98,53.98,One,In stock,0,https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/media/cache/2b/41/2...
999,1,"1,000 Places to See Before You Die",Travel,26.08,26.08,Five,In stock,0,https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/media/cache/d7/0f/d...

In [19]:
df.to_csv("FinalBookData.csv")